##############################################
# .NET Core / ASP.NET Build Ayarları
##############################################

bin/
obj/
*.user
*.suo
*.vspscc
*.vssscc
*.log
*.db
.vs/
*.sqlite

##############################################
# Angular / Node.js için (varsa)
##############################################

node_modules/
dist/
.env
*.env

##############################################
# Sistem ve IDE dosyaları
##############################################

.vscode/
*.DS_Store
Thumbs.db
*.tmp
*.bak
*.swp

##############################################
# Publish Ayarları (opsiyonel)
##############################################

publish/
